.sideBar {
	border: 1px solid var(--red-cv);
	color: var(--red-cv);
	padding: 5px;
	width: fit-content;
	background-color: white;
}

#pageLayoutDiv {
	height: 500px;
	padding: 10px;
	position: relative;
	border: 1px solid var(--red-cv);
	color: var(--red-cv);
}

table {
	border-collapse: collapse;
	font-size: 0.75rem;
}

@media screen and (max-width: 700px) {
	#pageLayoutDiv {
		width: 100%;
		margin-top: 1rem;
	}

	.sideBar {
		margin: auto;
	}

	table {
		margin-top: 1rem;
		width: 100%;
	}

}

@media screen and (min-width: 701px) {
	#pageLayoutDiv {
		width: 500px;
		margin-left: 20px;
		float: left;
	}

	.sideBar {
		position: relative;
		float: left
	}

	table {
		float: left;
		margin-left: 1rem;
	}
}

td {
	padding: 0.5rem;
}

tr.headFirst th {
	padding: 0;
}

tr.headLast th {
	padding: 0 0 0.5rem 0;
}

th {
	border: none;
	background-color: none;
	color: var(--bs-gray-dark);
	text-align: center;
}

td {
	border-top: 1px solid var(--red-cv);
}

table p {
	margin: 0;
}

.widgetToDrag {
	padding: 0.5rem;
	margin: 0.5rem;
	position: absolute;
	user-select: none;
	color: var(--bs-gray-dark);
}

.simpleWidget {
	user-select: none;
	border: none;
	background-color: lightgrey;
}

.widgetToDrag:hover {
	cursor: move;
}

.inGrid {
	margin: 0.5rem 0;
	position: relative;
}

.inSideBar {
	position: relative;
}

.isGrid {
	border: 1px solid var(--red-cv);
}

.isDragging {
	opacity: 0.5;
}

.notDragging {
	opacity: 1;
}

.removeWidgetButton {
	border: none;
	position: absolute;
	top: 0;
	background-color: var(--red-cv);
	color: white;
	right: 0px;
	padding: 0.5rem;
}

.removeWidgetButton:hover~p {
	color: var(--red-cv)
}

#pageLayoutDiv .widgetToDrag {
	padding: 0.5rem 2rem 0.5rem 0.5rem;
}

.isGrid p {
	margin-top: 0;
	margin-bottom: 1rem;
}

.inGrid p,
.simpleWidget p,
.inSideBar p {
	margin-top: 0;
	margin-bottom: 0;
}