@media (min-width:576px) {
	.project-img__exerg {}
}

@media (max-width:576px) {
	.project-img__exerg {
		width: 100%;
	}
}

.techno-badge {
	margin-right: 5px;
}

.porfolio-section-img {
	background-color: white;
	text-align: center;
	margin-top: 25px;
}

ol.callout {
	position: relative;
	list-style: none;
	counter-reset: item;
}

ol.callout li {
	counter-increment: item;
	margin-bottom: 0.5rem;
}

ol.callout li:before {
	position: absolute;
	left: -0.4rem;
	display: block;
	text-align: center;
	content: counter(item);
	background-color: #1A5FB4;
	color: #ffffff;
	border-radius: 100%;
	width: 1.4rem;
	margin-right: 1rem;
}

.project-card__col {
	display: flex;
	align-items: stretch;
}

.project-card__card {
	border: 1px solid var(--bs-info);
}

.project-card__header {
	background-color: var(--bs-info);
	color: white;
}

.project-card__body {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}